In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import datetime
import seaborn as sns
import matplotlib as mpl

%matplotlib inline


colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

In [2]:
reservoir=pd.read_csv("chennai_reservoir_levels.csv",parse_dates=['Date'])
rainfall=pd.read_csv("chennai_reservoir_rainfall.csv",parse_dates=['Date'])
reservoir.head()

        Date  POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0 2004-01-01     3.9         0.0     268.0              0.0
1 2004-02-01     3.9         0.0     268.0              0.0
2 2004-03-01     3.9         0.0     267.0              0.0
3 2004-04-01     3.9         0.0     267.0              0.0
4 2004-05-01     3.8         0.0     267.0              0.0

In [3]:
rainfall.head()

        Date  POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0 2004-01-01     0.0         0.0       0.0              0.0
1 2004-02-01     0.0         0.0       0.0              0.0
2 2004-03-01     0.0         0.0       0.0              0.0
3 2004-04-01     0.0         0.0       0.0              0.0
4 2004-05-01     0.0         0.0       0.0              0.0